*
!.mvn/
!.mvn/**
!mvnw
!pom.xml
!src/
!src/dev/
!src/dev/**
!src/main/
!src/main/**
!src/test/
!src/test/**
!sql/
!sql/**
!target/
!target/*-runner

firebase-service-account.json
src/dev/resources/firebase.json
