.blinking .MuiInput-root.MuiInput-underline:hover::before,
.blinking .MuiInput-root.MuiInput-underline::before,
.blinking .MuiInput-root.MuiInput-underline::after {
    animation-name: blinking-border;
    animation-duration: 500ms;
    animation-iteration-count: 3;

    border-bottom-color: #ab0000;
}
@keyframes blinking-border { 50% {border-color: #ffffff;}}

.blinking .MuiInputLabel-root,
.blinking .MuiFormHelperText-root {
    animation-name: blinking-color;
    animation-duration: 500ms;
    animation-iteration-count: 3;

    color: #ab0000;
}
@keyframes blinking-color { 50% {color: #ffffff;}}

.blinking-outline {
    animation-name: blinking-outline;
    animation-duration: 500ms;
    animation-iteration-count: 3;

    outline: 2px solid #ab0000;
    border-radius: 2px;
}
@keyframes blinking-outline { 50% {outline-color: #ffffff;}}



